.container {
  margin: 0 auto 0;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

mat-toolbar-row {
  background-color: aliceblue;
}

mat-card {
  background-color: white;
  color: black;
  margin: 12px;
}

.button {
  margin-right: 6px;
  background-color: #70705b;
}

.image {
  max-width: 300px;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  padding: 24px 24px 0;
}

.actions {
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
