.container {
  margin: 24px auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

mat-card {
  background-color: white;
  color: black;
  margin: 12px;
}

.title {
  padding: 24px 24px 0;
}

.actions {
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-right: 6px;
  background-color: #6D6D6D;
}

.image {
  max-width: 300px;
}

.amount {
    margin: 0 12px;
}
